{% extends 'base.html' %}    
{% block content %}
				<div class="date">
				Fecha Actual: {% now "d/m/y,f " %}
                {% for posts in posts %}
            <div class="post">
            <div class="date">
            
            </div>
            <h1><a href="{% url 'blog.views.post_detail' pk=posts.pk %}">{{ posts.idconcepto }}<span class="glyphicon glyphicon-pencil"></a></span></h1>
            <p>{{ posts.observacion|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <nav>
        {% if post.has_previous %}
        <a href="?page={{ post.previous_page_number }}">Pagina anterior</a>
        {% endif %}
        <p>Pagina  {{ post.number }} de {{ post.paginator.num_pages }}</p>
        {% if post.has_next %}
        <a href="?page={{ post.next_page_number }}">Pagina siguiente</a>
        {% endif %}
    </nav>
{% endblock  %}