{% extends 'base.html' %}    
{% block content %}
				<div class="date">
				Fecha Actual: {% now "d/m/y,f " %}
                {% for posts in posts %}
            <div class="post">
            <div class="date">
            
            </div>
            <h1><a href="{% url 'blog.views.post_detail' pk=posts.pk %}">{{ posts.idconcepto }}<span class="glyphicon glyphicon-pencil"></a></span></h1>
            <p>{{ posts.observacion|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock  %}